<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC81qv2-HgZ83wiomfkDN12PMxlYMTFD-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1021017511684</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jaha.alifsTrello</string>
	<key>PROJECT_ID</key>
	<string>fir-demo-b87ef</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-demo-b87ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021017511684:ios:42c892277c15251cc3a251</string>
	<key>DATABASE_URL</key>
	<string>https://fir-demo-b87ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>